  <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand text-white" href="{% url 'index' %}"><span>Tour</span>App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" id="active" aria-current="page" href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="">Tours</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="">FAQs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'mycart' %}"><i class="bi bi-cart"><span class="badge badge-primary">{{count}}</span></i></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Action
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if request.user.is_authenticated %}
                  <li><a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a></li>
                  <li><a class="dropdown-item" href="{% url 'logoutuser' %}">Logout</a></li>
                  {% else %}
                  <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'loginuser' %}">Login</a></li>
                  {% endif %}
                  
                </ul>
              </li>
              <form class="d-flex" role="search" action="{% url 'search' %}" method="get">
                <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
          </ul>
        </div>
      </div>
  </nav>