{% extends "base.html" %}
{% load static %}

{% block container %}
    <div class="container my-4">
        <div class="card p-5">
            <div class="display-4">Password Reset</div>
            <p class="lead">Forgotten password? Enter your email</p>
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <div class="d-grid mb-4">
                    <button type="submit" class="btn btn-success">Send Password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock container %}